.box-mundo > h2 {
  color: #004761;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.box-mundo__more-news{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 0 20px;
}
.box-mundo__more-news--button{
  color: #004761;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
}
.box-mundo__more-news--button:hover{
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  .box-mundo{
    padding: 15px 0;
  }
  .box-mundo > h2{
    padding: 0 15px;
  }
}